<!DOCTYPE html>
<html>
<head>
  <title>Gmapstest</title>
  <%#= stylesheet_link_tag    :all %>
  <%= stylesheet_link_tag "gmaps4rails" %>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.base"%>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.bing"%>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.googlemaps"%>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.mapquest"%>
  <%= javascript_include_tag "gmaps4rails/gmaps4rails.openlayers"%>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
</body>
<%= yield :scripts %>
</html>
